
  .App-header {
    color: #3f88c5;
    background: #eef0f4;
    box-shadow: inset 9.91px 9.91px 15px #d9dade,
      inset -9.91px -9.91px 15px #ffffff;
    width: 100vw;
    height: 100px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    position: relative;
  }
  .App-header-text {
    color: #6f58c9;
    letter-spacing: 0.5rem;
  }
  .App-shop {
    width: 90vw;
    max-width: 1000px;
    margin: 4rem auto;
  }
  .App-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .App-cartImg {
    width: 80px;
    position: absolute;
    left: 150px;
  }
  @media only screen and (max-width:920px) {
    .App-header-text {
      font-size: 2.5rem;
    }
    .App-cartImg {
      left: 20px;
    }
  }
  @media only screen and (max-width: 500px) {
    .App-header {
      margin-top: 0;
    }
    .App-cartImg {
      left: 20px;
      width: 60px;
      top: 90px;
    }
  }